<app-admin-header></app-admin-header>


FirstName : <input type="text" [(ngModel)]="firstName"/><br><br>
Email : <input type="text" [(ngModel)]="email"/><br><br>
Password : <input type="password" [(ngModel)]="password"/><br><br>

Gender :   Male <input type="radio" [(ngModel)]="gender" name="gender" value="male"/>
           Female <input type="radio" [(ngModel)]="gender" name="gender" value="female"/>

          <br><br> 

Role :  <select [(ngModel)]="role">
                <option *ngFor="let r of roles"   value="{{r._id}}" > {{r.roleName}} </option>
        </select>

          <br><br>
ContactNum : <input type="password" [(ngModel)]="contactNum"/><br><br>
           
           <button  (click)="saveUser()" >Save User</button>